openapi: 3.0.3
info:
  title: Hunity GRU API
  description: Specification for the Hunity Ground Reference Unit API.
  version: 1.0.0
servers:
  - description: GRU Production
    url: https://gru.onionsat.com/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
paths:
  /getExperimentData:
    get:
      summary: Kísérlet adatok lekérése
      security:
        - bearerAuth: []
      parameters:
        - name: experiment
          in: query
          description: A kísérlet azonosítója (1...6)
          required: false
          schema:
            type: integer
        - name: results
          in: query
          description: A lekérni kívánt adatsorok mennyisége
          required: false
          schema:
            type: string
        - name: startId
          in: query
          required: false
          description: Az adatbázis bejegyzések szűrése, azonosító alapján. Szűrő kezdő azonosító.
          schema:
            type: integer
        - name: endId
          in: query
          required: false
          description: Az adatbázis bejegyzések szűrése, azonosító alapján. Szűrő végső azonosító.
          schema:
            type: integer
        - name: startTimestamp
          in: query
          required: false
          description: Az adatbázis bejegyzések szűrése, dátum alapján. Szűrő kezdő dátum. Megadható UNIX timestamp vagy ISO dátum formátumban (2025-06-12T14:59:37.000Z).
          schema:
            type: integer
        - name: endTimestamp
          in: query
          required: false
          description: Az adatbázis bejegyzések szűrése, dátum alapján. Szűrő végső dátum. Megadható UNIX timestamp vagy ISO dátum formátumban (2025-06-12T14:59:37.000Z).
          schema:
            type: integer
      responses:
        '200':
          description: Sikeres lekérdezés
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 100
                    description: Az OBC lekérdezés azonosítója
                  experimentid:
                    type: integer
                    example: 1
                    description: A kísérlet azonosítója
                  expdata:
                    type: integer
                    example: "0107C707C707C900000946CBCBCBCBCB"
                    description: A kísérlet által visszaküldött adatsor hexadecimális kódolással
                  timestamp:
                    type: string
                    format: date-time
                    description: Az OBC lekérdezés időpontja
        '500':
          description: Szerverhiba
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: string
                    example: "ServerError"
                  message:
                    type: string
                    example: "Unexpected server error had ocurred. Please contact administrator."
  /getTemperatureData:
    get:
      summary: Referencia hőmérő adatok lekérése
      security:
        - bearerAuth: []
      parameters:
        - name: results
          in: query
          description: A lekérni kívánt adatsorok mennyisége
          required: false
          schema:
            type: string
        - name: startId
          in: query
          required: false
          description: Az adatbázis bejegyzések szűrése, azonosító alapján. Szűrő kezdő azonosító.
          schema:
            type: integer
        - name: endId
          in: query
          required: false
          description: Az adatbázis bejegyzések szűrése, azonosító alapján. Szűrő végső azonosító.
          schema:
            type: integer
        - name: startTimestamp
          in: query
          required: false
          description: Az adatbázis bejegyzések szűrése, dátum alapján. Szűrő kezdő dátum. Megadható UNIX timestamp vagy ISO dátum formátumban (2025-06-12T14:59:37.000Z).
          schema:
            type: integer
        - name: endTimestamp
          in: query
          required: false
          description: Az adatbázis bejegyzések szűrése, dátum alapján. Szűrő végső dátum. Megadható UNIX timestamp vagy ISO dátum formátumban (2025-06-12T14:59:37.000Z).
          schema:
            type: integer
      responses:
        '200':
          description: Sikeres lekérdezés
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 100
                    description: Az OBC lekérdezés azonosítója
                  temperature:
                    type: float
                    example: 26.74
                    description: Hőmérséklet, celsius fokban
                  pressure:
                    type: float
                    example: 1014.25
                    description: Légnyomás, hPa-ban
                  humidity:
                    type: float
                    example: 78.12
                    description: Relatív páratartalom, 0-100%
                  timestamp:
                    type: string
                    format: date-time
                    description: Az OBC lekérdezés időpontja
        '500':
          description: Szerverhiba
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: string
                    example: "ServerError"
                  message:
                    type: string
                    example: "Unexpected server error had ocurred. Please contact administrator."
  /getCommands:
    get:
      summary: Kísérleteknek küldött parancsok (és azok státuszának) lekérése
      security:
        - bearerAuth: []
      parameters:
        - name: experiment
          in: query
          description: A kísérlet azonosítója (1...6)
          required: true
          schema:
            type: integer
        - name: commandId
          in: query
          description: A lekérni kívánt parancs azonosítója
          required: false
          schema:
            type: integer
        - name: results
          in: query
          description: A lekérni kívánt adatsorok mennyisége
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Sikeres lekérdezés
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 100
                    description: A parancs azonosítója
                  experimentid:
                    type: integer
                    example: 1
                    description: A kísérlet azonosítója
                  command:
                    type: string
                    example: "FCFCFCFCFCFCFCFCFC"
                    description: A kísérletnek küldött parancs
                  sent:
                    type: integer
                    example: 1
                    description: A küldés állapota
                  sent_to_master:
                    type: string
                    format: date-time
                    description: Parancs beküldésének időpontja
                  sent_to_experiment:
                    type: string
                    format: date-time
                    description: Parancs végrehajtásának időpontja
        '400':
          description: Hiányzó kísérleti azonosító (experiment mező)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: string
                    example: "MissingFields"
                  message:
                    type: string
                    example: "Please define experiment ID!"
        '500':
          description: Szerverhiba
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: string
                    example: "ServerError"
                  message:
                    type: string
                    example: "Unexpected server error had ocurred. Please contact administrator."
  /getExperiments:
    get:
      summary: Kísérletek listázása
      security:
        - bearerAuth: []
      parameters:
        - name: experiment
          in: query
          description: A kísérlet azonosítója (1...6)
          required: false
          schema:
            type: integer
        - name: results
          in: query
          description: A lekérni kívánt adatsorok mennyisége
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Sikeres lekérdezés
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 100
                    description: A kísérlet azonosítója
                  name:
                    type: string
                    example: "OnionSAT"
                    description: A kísérlet neve
                  description:
                    type: string
                    example: "Müon detektor"
                    description: A kísérlet rövid leírása
        '500':
          description: Szerverhiba
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: string
                    example: "ServerError"
                  message:
                    type: string
                    example: "Unexpected server error had ocurred. Please contact administrator."
  /writeCommand:
    post:
      summary: Parancs küldése kísérletnek
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                command:
                  type: string
                  description: The command to write (16 ASCII characters representing 8 hexadecimal bytes).
                  example: "1234abcd5678ef90"
                experiment:
                  type: integer
                  description: The ID of the experiment the command is associated with.
                  example: 1
      responses:
        '201':
          description: A parancs sikeresen beszúrásra került
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: A kérés sikerességének állapota
                  message:
                    type: string
                    example: "Command inserted successfully!"
                    description: A sikeres művelet üzenete
                  commandId:
                    type: integer
                    example: 3
                    description: A beszúrt parancs azonosítója
        '400':
          description: Hiányzó kísérleti azonosító vagy parancs (experiment,command mező)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: string
                    example: "MissingFields"
                  message:
                    type: string
                    example: "Please define experiment ID!"
        '403':
          description: Azonosítási hiba - A kísérlet azonosítója nem egyezik az autentikált kísérlettel
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                    description: A kérés sikerességének állapota
                  code:
                    type: string
                    example: "Forbidden"
                    description: A hiba kódja
                  message:
                    type: string
                    example: "Experiment ID does not match the authenticated experiment."
                    description: A hibaüzenet
        '500':
          description: Szerverhiba
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: string
                    example: "ServerError"
                  message:
                    type: string
                    example: "Unexpected server error had ocurred. Please contact administrator."